body {
    background-color: #D7E2EF;
}

#container {
    position: absolute;
    width: 323px;
    height: 500px;
    background-color: #FFFFFF;
    margin-left: 514px;
    border-radius: 25px;
}

#qr-wrp {
    width: 290px;
    height: 288px;
    margin-left: 20px;
    margin-top: 19px;
    border-radius: 15px;
}


img {
    border-radius: 15px;
}

.text-box {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

h1 {
    color: #1F3251;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    color: #7B819D;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
}
